@import "custom";
@import "~bootstrap/scss/bootstrap";

// navbar //

 html, header, body {
  margin: 0px;
  padding: 0px;
 }

.nav-link{
    color: #FFBF00;
    font-family:  'Raleway', sans-serif;
    font-weight: bold;
    box-shadow: none;
    font-size: 20px;
}

.section-me{
  color: #FFBF00;
  font-family:  'Raleway', sans-serif;
  font-size: 65px;
}

.subtile{
  color: #FFBF00;
  font-family:  'Raleway', sans-serif;
  font-size: 23px;
}

.wrapper{
  display: table;
  width: 100%;
  height: 100%;
}

.content{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  text-shadow: 1px 1px 1px black;
}

.img-background {
  background-size: cover;
  background-repeat: no-repeat;
    
}

.presentation-section {
  text-align: center;
  vertical-align: middle;
  text-shadow: 1px 1px 1px black;
  background-color: #48608f;
  }

.section-description{
  align-self: center;
  vertical-align: middle;
}

.description{
  text-align: justify;
  vertical-align: middle;
  color: #FFBF00;
  font-family:  'Raleway', sans-serif;
  font-size: 22px;
}

.section-picture{
  align-items: center;
  vertical-align: middle;
  align-self: center;
}

.size-picture{
    width: 75%;
    align-items: center;
  }

  //-----project------

.title-project{
  text-align: center;
  vertical-align: middle;
  color: #FFBF00;
  font-family:  'Raleway', sans-serif;
  font-size: 65px;
  }

 //-----cards------

.color-button{
    background-color: #FFBF00;
    color: #150941;
    border: #150941;
}
.cards-color{
    background-color: #48608f;
    color: #FFBF00;
    margin: 5em;
}

.cards-img{
  width: 100%;
}


//-----contact-----

.contact-section{
  color: #FFBF00;
  background-color: #48608f;
  font-family:  'Raleway', sans-serif;
  font-weight: bold;
  box-shadow: none;
  font-size: 23px;
}

.contact{
  text-align: center;
  vertical-align: middle;
  color: #FFBF00;
  font-family:  'Raleway', sans-serif;
  font-size: 30px;
}