<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/12c728ad22.js" crossorigin="anonymous"></script>
    <script src="/build/app.js"></script>
    <img src="{{ asset('build/path_to_image.png') }}" alt=""/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="nav-link" href="#Présentation">Présentation</a>
                <a class="nav-link" href="#Projets">Projets</a>
                <a class="nav-link" href="#Contact">Contact</a>
            </div>
        </nav>
    </header>
    {% block body %}{% endblock %}
    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>

</html>
